.slider {
    margin: 25px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}


.slidemenu {
    width: 400%;
    height: 400px;
    display: flex;
}

.slidemenu input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 400px;
    background-size: cover;
}

.manual-navigation {
    position: absolute;
    margin-top: 360px;
    width: 800px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 16px;
}

.manual-btn:hover {
    background-color: rgba(226, 191, 187, 0.623);
}

#radio1:checked ~ .first-one {
    margin-left: 0;
}

#radio2:checked ~ .first-one {
    margin-left: -25%;
}

#radio3:checked ~ .first-one {
    margin-left: -50%;
}

#radio4:checked ~ .first-one {
    margin-left: -75%;
}

#radio5:checked ~ .first-one {
    margin-left: -100%;
}

#radio6:checked ~ .first-one {
    margin-left: -125%;
}

#radio7:checked ~ .first-one {
    margin-left: -150%;
}

#radio8:checked ~ .first-one {
    margin-left: -175%;
}

#radio9:checked ~ .first-one {
    margin-left: -200%;
}

#radio10:checked ~ .first-one {
    margin-left: -225%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 16px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: white;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: white;
}

#radio7:checked ~ .navigation-auto .auto-btn7 {
    background-color: white;
}

#radio8:checked ~ .navigation-auto .auto-btn8 {
    background-color: white;
}

#radio9:checked ~ .navigation-auto .auto-btn9 {
    background-color: white;
}

#radio10:checked ~ .navigation-auto .auto-btn10 {
    background-color: white;
}
